{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "sourceType": "module"
  },
  "globals": {
    "importScripts" : true,
    "maptalks": true
  },
  "rules": {
    "object-curly-spacing": [2, "always"]
  }
}
